/* reset */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
a {
  font: inherit;
  color: inherit;
  display: inline-block;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
ol,
ul {
  list-style: none;
}
/* End reset */
body {
  font-size: 1.6rem;
  font-family: "Courier New", Courier, monospace;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.55px, #e5e5f7 0.55px);
  background-size: 1.1rem 1.1rem;
  transition: 0.3s;
}
.change_pattern {
  font-weight: bold;
}
.pattern-control {
  display: flex;
  position: absolute;
  gap: 1rem;
  top: 2rem;
}
.pattern-input {
  display: none;
}
.patten-label {
  width: 4.2rem;
  height: 2.2rem;
  border-radius: 1.5rem;
  background-color: #000;
  cursor: pointer;
  transition: ackground-color 0.3s;
  padding: 0.3rem 0.4rem;
}
.patten-label::after {
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  background-color: #fff;
  display: inline-block;
  border-radius: 50%;
  transition: 0.3s;
}
.pattern-input:checked + .patten-label {
  background-color: #fff;
}
.pattern-input:checked + .patten-label::after {
  transform: translateX(2.1rem);
  background-color: green;
}

html:has(.pattern-input:checked) .container {
  background-color: #df7dff;
  opacity: 0.8;
  background: radial-gradient(
      circle,
      transparent 20%,
      #df7dff 20%,
      #df7dff 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #df7dff 20%,
        #df7dff 80%,
        transparent 80%,
        transparent
      )
      12.5px 12.5px,
    linear-gradient(#444cf7 1px, transparent 1px) 0 -0.5px,
    linear-gradient(90deg, #444cf7 1px, #df7dff 1px) -0.5px 0;
  background-size: 25px 25px, 25px 25px, 12.5px 12.5px, 12.5px 12.5px;
  transition: 0.3s;
}
html:has(.pattern-input:checked) .top {
  background-color: #df7dff;
  opacity: 0.8;
  background: linear-gradient(135deg, #444cf755 25%, transparent 25%) -5px 0/
      10px 10px,
    linear-gradient(225deg, #444cf7 25%, transparent 25%) -5px 0/ 10px 10px,
    linear-gradient(315deg, #444cf755 25%, transparent 25%) 0px 0/ 10px 10px,
    linear-gradient(45deg, #444cf7 25%, #df7dff 25%) 0px 0/ 10px 10px;
}
.card {
  display: flex;
  flex-direction: column;
  min-width: 35rem;
  border-radius: 1rem;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgb(0, 0, 0, 0.2);
}
.top {
  height: 10rem;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #e5e5f7 10px
    ),
    repeating-linear-gradient(#444cf755, #444cf7);
  transition: 0.3s;
}

.middle {
  margin: 0 auto;
  text-align: center;
  margin-top: -6rem;
  z-index: 1;
}
.pic {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 0.4rem solid #fff;
}
.title {
  font-size: 2.2rem;
  font-weight: bold;
}
.position {
  font-size: 1.6rem;
  font-weight: bold;
}
.bottom {
  display: flex;
  margin-top: 3rem;
  border-top: 0.1rem solid #4c4c4c;
}
.column {
  flex: 1;
  text-align: center;
  padding: 1.8rem 1.5rem;
}
.column:nth-child(2) {
  border-right: 0.1rem solid #4c4c4c;
  border-left: 0.1rem solid #4c4c4c;
}
.icon {
  width: 2rem;
  height: 2rem;
}
.username {
  font-size: 1.2rem;
  font-weight: bold;
}
